Source: wavpy
Section: science
Priority: extra
Maintainer: Samuele Carcagno <sam.carcagno@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
	       python3 (>= 3.1),
	       python3-scipy
X-Python-Version: >= 3.1
X-Python3-Version: >= 3.1
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/wavpy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/wavpy.git;a=summary

Package: wavpy
Architecture: any
Depends: ${python3:Depends}, 
	 ${misc:Depends}, 
	 ${shlibs:Depends},
	 python3 (>= 3.2), 
	 python3-numpy (>= 1:1.6.1)
Description: Python module for reading wav files
 Python module for wav files

