Source: wavpy
Section: science
Priority: extra
Maintainer: Samuele Carcagno <sam.carcagno@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
	       python3 (>= 3.1),
	       python3-scipy
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.1
Standards-Version: 3.9.3
Homepage: <https://github.com/sam81/wavpy>
Vcs-Git: https://github.com/sam81/wavpy
#Vcs-Browser: http://git.debian.org/?p=collab-maint/wavpy.git;a=summary

Package: python-wavpy
Architecture: any
Depends: ${python:Depends}, 
	 ${misc:Depends}, 
	 ${shlibs:Depends},
	 python (>= 2.7), 
	 python-numpy (>= 1:1.6.1)
Description: Python module for reading wav files
 Python module for wav files

Package: python3-wavpy
Architecture: any
Depends: ${python3:Depends}, 
	 ${misc:Depends}, 
	 ${shlibs:Depends},
	 python3 (>= 3.1), 
	 python3-numpy (>= 1:1.6.1)
Description: Python module for reading wav files
 Python module for wav files

